a{
    color: #2b2d42;
    text-decoration: none;
}

button{
    border: 1px solid #F7EFAC;
    border-radius: 10px;
    display: flex;
    margin-right: 15px;
    color: white;
    background-color:#f0e892 ;
    transition: 0.5s;
}

button:hover{
    background-color:#c9c274 ;
}