<nav class="navbar navbar-expand-lg" style="background-color: #f7f0acbe;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/prelogin"><i class="material-symbols-outlined">
                routine
            </i> DailyManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <button><a class="nav-link" routerLink="/login">Login</a></button>
                <button><a class="nav-link" routerLink="/cadastro">Cadastro</a></button>
            </div>
        </div>
    </div>
</nav>
<div id="rotas" class="d-flex justify-content-center mt-2" style="gap:20px;">
    <a routerLink="/menu">Menu</a>
    <a routerLink="/agenda">Agenda</a>
    <a routerLink="/metas">Metas</a>
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/tarefas">Tarefas</a>
</div>
<hr>
<div class="container-fluid">
    <div class="row" >
        <div class="col-12">
            <div class="d-flex justify-content-center mt-4 mb-4">
                <div class="card " style="border-radius: 10px;width: 70rem; text-align: center;">
                    <div class="card-header">
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sia at ipsam fuga sunostr Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Itaque vitae libero odio, unde quis amet. Esse, eligendi quo
                            necessitatibus ex cupiditate laborum amet, tempora corrupti natus odit, nostrum magni
                            placeat. um? Lorem ipsum dolor sit amet, consectetur adipi</p>
                    </div>
                    <div class="card-body">
                        <!-- imagem -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" style="margin-bottom: 100px;">
            <div class="d-flex justify-content-center mt-4">
                <div class="card " style="border-radius: 10px;width: 70rem; text-align: center;">
                    <div class="card-header">
                        <h3>Titulo</h3>
                        <p>Lorem ipsum dolor sia at ipsam fuga sunostr Lorem ipsum dolor sit amet consectetur
                            adipisicing elit. Itaque vitae libero odio, unde quis amet. Esse, eligendi quo
                            necessitatibus ex cupiditate laborum amet, tempora corrupti natus odit, nostrum magni
                            placeat. um? Lorem ipsum dolor sit amet, consectetur adipi</p>
                    </div>
                    <div class="card-body">
                        <!-- imagem -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>