<div class="col-12 bg-color align-sidenavbar position-fixed_">
    <div class="d-flex flex-column align-items-center align-items-sm-start pt-1 text-white min-vh-100 w-100 min-w-100">
        <a href="/" class="d-flex align-items-center pt-2 pb-3 mb-1 link-dark text-decoration-none logo ">
            <img src="../../../assets/SigaParts_01.png" width="120" alt="">
        </a>

        <div class="input-group mb-3 px-2">
            <input class="form-control border-end-0 border" type="search" placeholder="Buscar" value="" id="search">
        </div>
    </div>
</div>