* {
    font-family: 'Source Sans Pro', sans-serif;
}

.hide {
    display: none !important;
}

.f-col{
    display: flex;
    flex-direction: column;
}

.f-row{
    display: flex;
    flex-direction: row;
}