<div class="row ">
    <div class="d-flex justify-content-center mb-3 mt-2 shadow" style="background-color:#303030; border-radius: 10px;">
        <h4>Agenda</h4>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <div class="col-10">
            <div class="card card-meta p-3">
                <div class="row">
                    <button class="btn btn-primary d-flex align-itens-center btn_btn" id="btn-refresh"
                        (click)="refresh()" title="Recarregar Metas">
                        <span style="font-size: 20px;" class="material-symbols-outlined">sync</span>
                    </button>
                    <div class="calendario-titulo">
                        <div>
                            <button class="btn-control" (click)="alterarMes(-1)">Anterior</button>
                        </div>
                        <div class="calendario-titulo-mes-ano">
                            {{retornaAno(dataAtual)}}
                        </div>
                        <div>
                            <button class="btn-control" (click)="alterarMes(+1)">Próximo</button>
                        </div>
                    </div>
                    <div class="calendario-dias">
                        <!-- Aqui renderizamos o nome do dia da semana -->
                        <ng-container *ngFor="let dia of diasCalendario; let i = index">
                            <div *ngIf="i < 7">
                                <strong>{{ dia | date: 'EEEEE' }}</strong>
                            </div>
                        </ng-container>
                        <div *ngFor="let dia of diasCalendario; let i = index"
                            class="calendario-dia"
                            [class.calendario-quebrar-linha]="i % 7 === 0"
                            [class.calendario-dia-nao-faz-parte-mes-atual]="dataAtual.getMonth() !== dia.getMonth()">
                            {{dia | date : 'dd'}}
                            <span class="material-symbols-outlined" *ngIf="temAgenda(dia)">fiber_manual_record</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-meta p-3 mt-3">
                <div class="col-12 d-flex row card-dados">
                    <div class="col-12 d-flex justify-content-end">
                        <div class="div-btn-add">
                            <button class="btn btn-success btn-add" (click)="abrirAddAgenda()">
                                <span class="material-symbols-outlined">add</span>
                            </button>
                        </div>
                        <div class="div-btn-add">
                            <button class="btn btn-danger btn-add">
                                <span class="material-symbols-outlined">remove</span>
                            </button>
                        </div>

                    </div>
                    <div class="col-3 d-flex card-adenda-dados" *ngFor="let a of listaAgendaDia">
                        <div class="div-btn-add">
                            <button class="btn btn-secondary btn-add" (click)="editarAgenda(a.id)">
                                <span class="material-symbols-outlined">edit</span>
                            </button>
                        </div>
                        <span><strong>Titulo: </strong>{{a.titulo}}</span>
                        <span><strong>Descrição: </strong>{{a.descricao}}</span>
                        <span><strong>Data Inicio: </strong>{{formatarDataBRL(a.data_inicio)}}</span>
                        <span><strong>Data Final: </strong>{{formatarDataBRL(a.data_final)}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal none" id="modal">
    <div class="modal-content">
        <div class="cont">
            <div class="col-12 d-flex row card-cad">
                <button class="btn b-close" (click)="fecharModal()">X</button>
                <div class="col-6 d-flex row">
                    <div class="col-12 d-flex div-input-cad">
                        <label for="titulo">Titulo</label>
                        <input type="text" class="input-cad" id="titulo" [(ngModel)]="titulo">
                    </div>
                    <div class="col-12 d-flex div-input-cad">
                        <label for="data_inicio">Data Inicio</label>
                        <input type="date" class="input-cad" id="data_inicio" [(ngModel)]="dataInicio">
                    </div>
                    <div class="col-12 d-flex div-input-cad">
                        <label for="data_final">Data Final</label>
                        <input type="date" class="input-cad" id="data_final" [(ngModel)]="dataFinal">
                    </div>
                </div>
                <div class="col-6 d-flex">
                    <div class="col-12 d-flex div-input-cad">
                        <label for="descricao">Descrição</label>
                        <textarea type="text" class="input-cad" id="descricao" [(ngModel)]="descricao">
                        </textarea>
                    </div>
                </div>
                <div class="col-12 d-flex mt-3 justify-content-end">
                    <button class="btn btn-success" (click)="adicionarAgenda()" [disabled]="salvando">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>