<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
    <div class="header">
        <h1 class="title d-flex">
            <span class="material-symbols-outlined">
                routine
                </span> .<div class="title"> DM</div>
        </h1>
        <div class="toggle" (click)="handleSidebarToggle()">
            <span class="chevron"></span>
        </div>
    </div>
    <div class="content">
        <div class="link">
            <div class="content" routerLink="/menu">
                <span class="material-symbols-outlined">
                    menu
                    </span>
                <div class="title">Menu</div>
            </div>
        </div>
        <div class="link">
            <div class="content" routerLink='/agenda'>
                <span class="material-symbols-outlined">
                    schedule
                    </span>
                <div class="title">Agenda</div>
            </div>
        </div>
        <div class="link">
            <div class="content" routerLink='/metas'>
                <span class="material-symbols-outlined">
                    flag
                    </span>
                <div class="title">Metas</div>
            </div>
        </div>
        <div class="link">
            <div class="content" routerLink='/tarefas'>
                <i class="material-symbols-outlined">
                    task_alt
                </i>
                <div class="title">Tarefas</div>
            </div>
        </div>
        <div class="link">
            <div class="content" routerLink='/perfil'>
                <span class="material-symbols-outlined">
                    face
                    </span>
                <div class="title">Perfil</div>
            </div>
        </div>
        <div class="link">
            <div class="content" routerLink='/prelogin'>
                <span class="material-symbols-outlined">
                    exit_to_app
                    </span>
                <div class="title">Sair</div>
            </div>
        </div>
    </div>
    <div class="footer"></div>
</div>