<nav class="navbar navbar-expand-lg" style="background-color: #f7f0acbe;">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/prelogin"><i class="material-symbols-outlined">
                routine
            </i> DailyManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
<div class="container-fluid">
    <div class="row" id="login-row">
        <div class="col-12" style="margin-bottom: 100px;">
            <div class="d-flex justify-content-center mt-4 mb-4" id="login-column" >
                <div class="card" style="border-radius: 10px;width: 40rem; text-align: center;" id="login-box">
                    <div class="card-header" style="background-color: #6E75C1; color: white;">
                        <h3>Login</h3>
                    </div>
                    <form [formGroup]="resourceForm">
                        <div class="card-body">
                            <div style="padding: 30px; margin-left: 45px;">
                                <div class="mb-3">
                                    <label for="exampleFormControlInput1" class="form-label">Usuário</label>
                                    <div class="col-11">
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Usuário">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="inputPassword" class="form-label">Senha</label>
                                    <div class="col-sm-11">
                                        <input type="password" class="form-control" id="inputPassword">
                                    </div>
                                </div>
                                
                                <div class="row d-flex row-column">
                                    <div class="col-5" style="margin-left: 20px;">
                                        <button type="button"  style="margin-right: 15px;" (click)="logar()">Login</button>
                                    </div>
                                    <div class="col-4">
                                        <a routerLink="/prelogin"><button type="button">Cancelar</button></a>
                                    </div>
                                    <div class="row">
                                        <div class="col-4" style="margin-left: 40px;">
                                            <legend class="d-flex justify-content-start"><a href="">Esqueceu a senha?</a></legend>
                                        </div>
                                        <div class="col-6" style="margin-right: 25px;">
                                            <legend class="d-flex justify-content-end"><a routerLink="/cadastro">Não possui cadastro? Cadastre-se</a></legend>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
