<div class="content-fluid" style="color:aliceblue">
    <div class="d-flex justify-content-center mb-3 mt-4 shadow" style="background-color:#303030; border-radius: 10px;">
        <h4>Perfil</h4>
    </div>
    <div class="d-flex justify-content-center">
        <div class="col-7 p-2 card" style="align-items: center; height: 100%; background-color: #202020;">
            <div class="col-12 d-flex row f-row">
                <div class="col-12  mt-3 mb-3">
                    <h4><strong>Informações Pessoais</strong></h4>
                    <form [formGroup]="resourceForm">
                        <div class="col-12 d-flex f-col">
                            <label class="form-label" for="nome">Nome</label>
                            <input type="text" class="form-control" formControlName="nome" placeholder="Nome" id="nome"
                                [(ngModel)]="nome">
                            <div class="erro" *ngIf="resourceForm.get('nome')?.errors">
                                Obrigatório
                            </div>
                        </div>
                        <div class="col-12 d-flex f-col">
                            <label class="form-label" for="nome">Email</label>
                            <input type="text" class="form-control" formControlName="email" placeholder="Email"
                                id="Email" [(ngModel)]="email">
                            <div class="erro" *ngIf="resourceForm.get('email')?.errors">
                                Obrigatório
                            </div>
                        </div>
                        <div class="col-12 d-flex f-col">
                            <label class="form-label" for="nome">Data Nascimento</label>
                            <input type="date" class="form-control" formControlName="dataNasc"
                                placeholder="Data Nascimento" id="dataNasc" [(ngModel)]="dataNasc">
                            <div class="erro" *ngIf="resourceForm.get('dataNasc')?.errors">
                                Obrigatório
                            </div>
                        </div>
                        <hr class="mt-3 col-11" style="margin-left: 25px;">
                    </form>
                    <div class="mt-1">
                        <h4><strong>Redifinir a Senha</strong></h4>
                        <div class="col-12 d-flex f-col mt-2">
                            <label class="form-label" for="nome">Senha atual</label>
                            <div class="col-12 d-flex row">
                                <div class="col-8">
                                    <input [type]="senhaVisivel0?'text':'password'" class="form-control"
                                        placeholder="Senha Atual" id="senhaA" [(ngModel)]="senhaAtual"
                                        [disabled]="senhaCorreta">
                                </div>
                                <div class="col-2" *ngIf="!senhaCorreta">
                                    <button class=" d-flex btn btn-sm align-itens-center" (click)="visibilidade0()">
                                        <span style="color: aliceblue;"
                                            class="material-symbols-outlined">{{senhaVisivel0?'visibility':'visibility_off'}}</span>
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-secondary btn-senha" *ngIf="!confereSenhaChamado"
                                        (click)="digitaSenha()" [disabled]="!senhaAtual || senhaCorreta">Enviar</button>
                                    <div class="spinner-border" role="status" *ngIf="confereSenhaChamado">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex f-col mt-1">
                            <label class="form-label" for="nome">Nova Senha</label>
                            <div class="col-12 d-flex row">
                                <div class="col-8">
                                    <input [type]="senhaVisivel?'text':'password'" class="form-control"
                                        placeholder="Senha Nova" id="senhaN" [disabled]="!senhaCorreta"
                                        [(ngModel)]="senhaNova1">
                                </div>
                                <div class="col-2">
                                    <button class="btn" (click)="visibilidade()" *ngIf="senhaCorreta">
                                        <span
                                            class="material-symbols-outlined">{{senhaVisivel?'visibility':'visibility_off'}}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex f-col mt-1">
                            <label class="form-label" for="nome">Repita a senha</label>
                            <div class="col-12 d-flex row">
                                <div class="col-8">
                                    <input [type]="senhaVisivel2?'text':'password'" class="form-control"
                                        placeholder="Repita a senha" [disabled]="!senhaCorreta" id="senhaR"
                                        [(ngModel)]="senhaNova2">
                                </div>
                                <div class="col-2">
                                    <button class="btn" (click)="visibilidade2()" *ngIf="senhaCorreta">
                                        <span
                                            class="material-symbols-outlined">{{senhaVisivel2?'visibility':'visibility_off'}}</span>
                                    </button>
                                </div>
                                <div class="col-2 d-flex justify-content-end">
                                    <button *ngIf="!salvarDadosChamado" class="btn btn-success " (click)="atualizarDados()"
                                    [disabled]="resourceForm.untouched"><i class="fa-solid fa-floppy-disk"></i></button>
                                <div class="spinner-border load-salvar" role="status" *ngIf="salvarDadosChamado">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                </div>
                            </div>
                        </div>
                        <span class="alert" *ngIf="(senhaNova1 && senhaNova2) && (senhaNova1 != senhaNova2)">Senhas não
                            são iguais!</span>
                        <button class="btn btn-danger mt-3"
                            *ngIf="(senhaNova1 && senhaNova2) && (senhaNova1 == senhaNova2) && !alteraSenhaChamado"
                            (click)="atualizarSenha()">Alterar
                            Senha</button>
                        <div class="spinner-border" role="status" style="margin-left: 5px; margin-top: 3px;"
                            *ngIf="(senhaNova1 && senhaNova2) && (senhaNova1 == senhaNova2) && alteraSenhaChamado">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                
            </div>
        </div>
    </div>
</div>