<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home"><img src="../assets/img/Rotineira.png" class="logo"></a>
            <nav class="navbar2 navbar-dark">
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-sm btn-outline-secondary botaoEntrada" type="button">
                        <a class="nav-link" href="/">Registrar-se</a>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary botaoEntrada" type="button">
                        <a class="nav-link" href="/login">Login</a>
                    </button>
                </form>
            </nav>
        </div>
    </nav>
</header> -->
<my-sidebar [isExpanded]="sidebarExpanded" (toggleSidebar)="sidebarExpanded= !sidebarExpanded"
    [style.display]="(showSideBar())?'block':'none'"></my-sidebar>
<div class="content lineBar" [style.width]="(sidebarExpanded)?'calc(100% - 150px)':'calc(100% - 60px)'"
    [style.margin-left]="(sidebarExpanded)?'150px':'60px'" style="padding: 15px;"
    [ngClass]="{ 'sidebarExpanded': sidebarExpanded }">
    <div [style.width]="" [style.margin-left]="">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="modal d-flex hide" style="width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.4);" id="loading">
    <div class="col-12 d-flex justify-content-center">
        <div class="spinner-border" role="status" style="margin: auto;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>


<!-- <footer class="section footer-classic context-dark bg-image" style="background: #25274D;">
    <div class="container">
        <div class="row row-30">
            <div class="col-md-4 col-xl-5" style="margin-top:20px ;">
                <h3 style="overflow-y: hidden;">PRSystems</h3>
                <div class="pr-xl-4"><a class="brand" href="./pages/index/index.component.html"></a>
                    <p>Somos uma empresa de tecnologia baseada na criação de um sistema de rotinas.</p>
                    Rights
                    <p class="rights"><span>©  </span><span
                            class="copyright-year">2022</span><span> </span><span>Copyright</span><span>. </span><span>Todos
                            os Direitos Reservados.</span></p>
                </div>
            </div>
            <div class="col-md-4" style="margin-top:23px;">
                <h4 style="overflow-y: hidden;">Contato</h4>
                <dl class="contact-list">
                    <dt>Endereço:</dt>
                    <dd>000 Rua 1, Bairro 2</dd>
                </dl>
                <dl class="contact-list">
                    <dt>email:</dt>
                    <dd><a href="mailto:#">prsystems@gmail.com</a></dd>
                </dl>
                <dl class="contact-list">
                    <dt>telefones:</dt>
                    <dd><a href="tel:#">(31)99999-9999</a> <span>ou</span> <a href="tel:#">(31)99999-9999</a>
                    </dd>
                </dl>
            </div>
            <div class="col-md-4 col-xl-3" style="margin-top:23px ;">
                <h4 style="overflow-y: hidden;">Links</h4>
                <ul class="nav-list">
                    <li><a href="/sobre">Sobre</a></li>
                    <li><a href="sobre.html">Projetos</a></li>
                    <li><a href="sobre.html">Contato</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row no-gutters social-container">
        <div class="col">
            
        </div>
        <div class="col">
            <a class="social-inner" href="https://www.instagram.com/" target="_blank"><span
                    class="icon mdi mdi-instagram"></span><span style="overflow-y: hidden;">instagram</span></a>
        </div>
        <div class="col">
            <a class="social-inner" href="https://twitter.com/site_wizard" target="_blank"><span
                    class="icon mdi mdi-twitter"></span><span style="overflow-y: hidden;">twitter</span></a>
        </div>
        <div class="col">
            <a class="social-inner" href="https://mail.google.com/mail/u/3/?ogbl#inbox" target="_blank"><span
                    class="icon mdi mdi-youtube-play"></span><span style="overflow-y: hidden;">google</span></a>
        </div>
    </div>
</footer> -->