  <main>
    <div class="container fluid">
      <div class="row">
        
        <div class="col-7">
          <img src="img/img1.png" class="img-titulo">
          <p class="text-p">Já teve aquela sensação de estresse por não conseguir organizar sua rotina? Pois esse site é para você. Os procedimentos de trabalho são uma série de atividades profissionais que realizamos diariamente. Não é apenas a sequência que compõe as atividades diárias, é a maneira como se faz. Uma rotina de trabalho bem definida evita o acúmulo de tarefas, atrasos no cumprimento de prazos e outras frustrações que podem surgir quando não há um cronograma a seguir. No entanto, procedimentos de trabalho muito rígidos podem deixar os funcionários insatisfeitos porque eles não têm flexibilidade para fazer ajustes em circunstâncias imprevistas ou quando necessário. Dessa forma com o gestor de rotinas da PRSystems você pode organizar, editar, usar métodos de estudos e dicas para melhorar seu dia! Isso tudo em um site só e gratuitamente. Ao logar no nosso site você tem acesso a várias ferramentas editáveis que te ajudarão nessa flexibilidade.</p>
          

        </div>

        <div class="col-4">
          <img src="img/tina 1.png" class="img-tina">
          
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <img src="img/tina 2.png" class="img-tina2">
        </div>
        <div class="col-7">
          <img src="img/img2.png" class="img-titulo">
          <p class="text-p">A Program Routine Systems é uma empresa de Desenvolvimento de sites WEB. Foi criada com por um grupo de amigos que moram em Minas Gerais que queriam desenvolver sites para as pessoas que queiram divulgar seu trabalho na internet de forma fácil. Com o passar dos tempos, a empresa criada pelos 6 amigos desenvolvedores saiu do papel para as redes. Com a alta demanda de tecnologia na vida das pessoas, muitas empresas, lojas, negócio próprio, buscam ter uma divulgação com dados e os produtos oferecidos. Para ter isso de forma autenticada, a PRSystems busca ajudar a desenvolver e criar a partir da demanda, um site que seja a cara do cliente.</p>
        </div>
      </div>

      <div class="row">
        
        <div class="col-8">
          <a href="login.html"> <img src="img/img3.png" class="img-titulo" style="margin-left: -300px; margin-top: -20px"></a>
        </div>

        <div class="col-3">
          <img src="img/tina3.png" class="img-tina3">
          
        </div>
      </div>
    </div>
  </main>


  