<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
            <div class="search">
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <img src="../../../assets/img/perfil.png" class="imagem"> <br>
                            <a href="#"><img src="../../../assets/img/Praveen-Minimal-Outline-Gallery.svg"
                                    class="imgsvg"><img src="../../../assets/img/Praveen-Minimal-Outline-Share-2.svg"
                                    class="imgsvg2"></a>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <h5 class="right-titlee">Nome</h5>
                        </div>
                        <div class="right-price">
                            <p class="right-text">Tina Rotineira Rotty</p>

                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <h5 class="right-titlee">Nascimento</h5>
                        </div>
                        <div class="right-price">
                            <p class="right-text">20/01/2001</p>

                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <h5 class="right-titlee">E-mail</h5>
                            <div class="right-price">
                                <p class="right-text">Rotitina@hotmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <h5 class="right-titlee">Logout</h5>
                            <div class="right-price">
                                <a routerLink="/principal"><img
                                        src="../../../assets/img/Praveen-Minimal-Outline-Share-2.svg"
                                        class="imgsvg2"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-7 col-xs-12">
            <div class="check">
                <div class="check_title">
                    Rotina
                </div>
                <div class="check_table" id='checkTable'>
                </div>
                <div class="check_new-item">
                    <input type="text" id='checkNew-item' placeholder="Escreva e pressione enter para salva-la">
                </div>
                <!-- <script src="script4.js"></script> -->
            </div>
        </div>
    </div>
</div>