<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="check">
                <div class="check_title">
                    Tarefas do Dia
                </div>

                <div class="check_table" id='checkTable'></div>

                <div class="check_new-item">
                    <input type="text" id='checkNew-item' placeholder="Escreva uma tarefa">
                </div>
                <!-- <script src="script4.js"></script>   -->
            </div>
        </div>

        <div class="col-3">
            <div class="search">
                <div class="right-block">
                    <div class="right-content">
                        <div class="summary-head"><img src="../../../assets/img/perfil.png" class="imagem"></div>
                        <p>Bem-Vindo ao Gestor de rotinas!</p>
                    </div>
                </div>
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <h5 class="right-title">Nome</h5>
                        </div>
                        <div class="right-price">
                            <p class="right-text">Tina Rotineira Rotty</p>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <div class="right-content">
                        <div class="right-head">
                            <h5 class="right-title">Dicas do Dia</h5>
                        </div>
                        <div class="dicas">
                            <ol>
                                <li>Faça um Planejamento.</li>
                                <li>Priorize as Tarefas Mais Importantes. </li>
                                <li>Faça Uma Coisa de Cada Vez. </li>
                                <li>Evite Procrastinar. </li>
                                <li>Utilize Ferramentas de Produtividade.</li>
                                <li>Crie o Ambiente Ideal Para Trabalhar. </li>
                                <li>Crie e Siga Metas.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="right-block">
                    <a><!-- href="pessoal.html" --><img src="../../../assets/img/Praveen-Minimal-Outline-Share-2.svg"
                            class="imgsvg"></a>
                </div>
            </div>
        </div>
    </div>
</div>