<div class="row mt-4">
    <div class="d-flex justify-content-center">
        <div class="col-10">
            <div class="card card-meta p-3">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="titulo" class="form-label">Título:</label>
                            <input type="text" class="form-control" id="titulo" placeholder="Título" [(ngModel)]="titulo"
                                style="background-color: rgb(96, 15, 189); color: white; border: none;">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="data_i" class="form-label">Data de Inicio:</label>
                            <input type="date" class="form-control" id="data_i" placeholder="Data de Inicio" [(ngModel)]="dataInicio"
                                style="background-color: #ff8000; color: white; border: none;">
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="descricao" class="form-label">Descrição:</label>
                            <textarea class="form-control" id="descricao" rows="3" [(ngModel)]="descricao"
                                style="max-height: 150px; min-height: 150px; background-color: rgb(20, 20, 20); color: white; border: none;"></textarea>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="data_f" class="form-label">Data Final:</label>
                            <input type="date" class="form-control" id="data_f" placeholder="Data Final" [(ngModel)]="dataFinal"
                                style="background-color: #ff8000; color: white; border: none;">
                        </div>
                        <div class="col-12 d-flex row justify-content-center f-row">
                            <button class="btn" style="background-color: rgb(15, 163, 189); color: white; border: none; width: 80px; margin-right: 5px;"
                                (click)="salvarAlteracoes()">Salvar</button>
                            <button class="btn" style="background-color: rgb(189, 70, 15); color: white; border: none; width: 90px;"
                                (click)="limparCampos()">Limpar</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="card card-meta">
                            <div *ngFor="let dados of metas" (click)="abrirMeta(dados.id)" style="cursor: pointer;">
                                <span style="background-color: #1eff00; color: white;">{{dados.titulo}} | {{formataData(dados.data_inicio)}} |
                                    {{formataData(dados.data_final)}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>